@import "scss/vars";

.field {
  $this: &;

  display: grid;
  grid-gap: .5rem;

  &.error {
    #{$this}__label {
      color: $error;
    }

    #{$this}__control {
      border-color: $error;
    }
  }

  &__label {
    text-transform: capitalize;
    font-size: .85rem;
    font-weight: 600;
    color: $gray;
  }

  &__control {
    padding: 1.25rem;
    border: 3px solid $black;
  }

  textarea {
    resize: none;
    min-height: 10rem;
  }

  &__error {
    font-size: .7rem;
    color: $error;

    &::first-letter {
      text-transform: capitalize;
    }
  }
}