// * Raleway
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Light") format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Regular") format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Medium") format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Bold") format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-ExtraBold") format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Black") format('truetype');
  font-weight: 900;
}

// * Paytone One
@font-face {
  font-family: "Paytone One";
  src: url("../fonts/Paytone_One/PaytoneOne-Regular") format('truetype');
  font-weight: 400;
}

// * KaushanScript
@font-face {
  font-family: "KaushanScript";
  src: url("../fonts/KaushanScript/KaushanScript-Regular") format('truetype');
  font-weight: 400;
}

// * Muli Fonts
@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli/Muli-Bold.ttf") format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli/Muli-SemiBold.ttf") format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli/Muli-Medium.ttf") format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli/Muli-Regular.ttf") format('truetype');
  font-weight: 400;
}